@model Tatil_Seyahat_Sitesi.Models.Class.Blog
@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("BlogGüncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control",@readonly="readonly" })
    <br />
    @Html.LabelFor(x => x.bASLİK)
    @Html.TextBoxFor(x => x.bASLİK, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Blogimage)
    @Html.TextBoxFor(x => x.Blogimage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama,15,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Blog Güncelle</button>
}

